<div id='detailBook' *ngIf='determineIsAffichable()' [routerLink]="['/book', book.id]">
  <div class="d-flex justify-content-center align-items-center position-relative">
    <img [src]="book.srcImage" class="card-img-top rounded" alt="Image du livre" (error)="handleImageError($event, book)" style="max-height: 300px;" [ngClass]="{'lu-border': book.lu}">
    <div *ngIf="book.lu" class="lu-badge">Lu</div>
  </div>
  <div class="card-body">
    <p class="card-text mb-1"><span class="label">{{ book.nom }}</span></p>
    <p class="card-text mb-1"><span class="label">By : </span>{{ book.prenomAuteur }} {{ book.nomAuteur }}</p>
    <p class="card-text mb-1"><span class="label">publication date : </span>{{ formatDate(book.dateParution) }}</p>
  </div>
</div>