<form [formGroup]="bookForm" (submit)="addBook()">
  <ng-container formArrayName="books">
    <div *ngFor="let book of books.controls; let bookIndex=index" [formGroupName]="bookIndex">
      <div class="card mb-3">
        <div class="card-header bg-dark text-light fw-bold">Ajouter un livre</div>
        <div class="card-body">
          <div class="row">
            <!-- Prévisualisation de l'image à gauche -->
            <div class="col-lg-2 position-relative image-container">
              <img [src]="getUrlImagePrevisualisation(bookIndex)" alt="Prévisualisation de l'image" (error)="handleImageError(bookIndex)" class="img-fluid mb-3 rounded" style="max-height: 300px;" [ngClass]="{'lu-border': bookForm.get('books.' + bookIndex + '.lu').value}">
              <div *ngIf="bookForm.get('books.' + bookIndex + '.lu').value" class="lu-badge">Lu</div>
            </div>
            <!-- Fin de la prévisualisation de l'image -->

            <!-- Champs du livre à droite -->
            <div class="col-md-8">
              <div class="row mb-3 align-items-center">
                <div class="col-md-6">
                  <label for="{{ 'nom' + bookIndex }}" class="form-label">Nom</label>
                  <input type="text" class="form-control" placeholder="Nom" formControlName="nom" id="{{ 'nom' + bookIndex }}" required>
                </div>
                <div class="col-md-3">
                  <label for="{{ 'dateParution' + bookIndex }}" class="form-label">Date de parution</label>
                  <input type="date" class="form-control" formControlName="dateParution" id="{{ 'dateParution' + bookIndex }}">
                </div>
                <div class="col-md-3">
                  <div class="form-check" style="padding-top: 14px;">
                    <label class="form-check-label" for="{{ 'lu' + bookIndex }}">Lu</label>
                    <input class="form-check-input" type="checkbox" id="{{ 'lu' + bookIndex }}" formControlName="lu">
                  </div>
                </div>
              </div>

              <div class="row mb-3 align-items-center">
                <div class="col-md-6">
                  <label for="{{ 'prenomAuteur' + bookIndex }}" class="form-label">Prénom de l'auteur</label>
                  <input type="text" class="form-control" placeholder="Prénom de l'auteur" formControlName="prenomAuteur" id="{{ 'prenomAuteur' + bookIndex }}">
                </div>
                <div class="col-md-6">
                  <label for="{{ 'nomAuteur' + bookIndex }}" class="form-label">Nom de l'auteur</label>
                  <input type="text" class="form-control" placeholder="Nom de l'auteur" formControlName="nomAuteur" id="{{ 'nomAuteur' + bookIndex }}">
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="{{ 'srcImage' + bookIndex }}" class="form-label">URL de l'image</label>
                  <input type="url" class="form-control" placeholder="URL de l'image" formControlName="srcImage" id="{{ 'srcImage' + bookIndex }}" (ngModelChange)="urlImageChange(bookIndex)">
                </div>
                <div class="col-md-6">
                  <label for="{{ 'description' + bookIndex }}" class="form-label">Description</label>
                  <textarea type="text" class="form-control" placeholder="Description" formControlName="description" id="{{ 'description' + bookIndex }}"></textarea>
                </div>
              </div>
              <button class="btn btn-danger" *ngIf="books.length > 1" (click)="deleteFormBook(bookIndex)">Supprimer ce livre</button>
            </div>
            <!-- Fin des champs du livre -->
          </div>
          <div class="text-danger">
            <div *ngIf="book.errors?.['bookDejaExistant']">Livre déjà existant</div>
            <div *ngIf="book.errors?.['UtilisateurNotFound']">Utilisateur introuvable</div>
            <div *ngIf="book.errors?.['erreurLorsDeLEnregistrement']">Erreur lors de l'enregistrement</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <button type="submit" class="btn btn-success" [disabled]="!books.valid">Ajouter le(s) livre(s)</button>
  <button type="button" class="btn btn-success ms-2" (click)="addFormBook()">Ajouter un autre livre</button>
  <a class="btn btn-danger float-end" [routerLink]="['/libraire']">Annuler</a>
</form>
