
<form [formGroup]="bookForm" (submit)="addBook()">
  <div class="list-group" formArrayName="books" *ngFor="let book of books.controls; let bookIndex=index">
    <div class="list-group-item list-group-item-action" [formGroupName]="bookIndex">

      <h2 class="fw-bold mb-5">Livre {{bookIndex+1}}</h2>

      <!-- Nom input auteur-->
      <div class="form-outline mb-4">
        <div>
          <input type="text" class="form-control" placeholder="Nom" formControlName="nom" id="{'nom' + bookIndex}"/>
        </div>
      </div>

      <!-- Description input auteur-->
      <div class="form-outline mb-4">
        <div>
          <input type="textarea" class="form-control" placeholder="Description" formControlName="description"  id="{'nom' + bookIndex}"/>
        </div>
      </div>

      <!-- Date input auteur-->
      <div class="form-outline mb-4">
        <div>
          <input type="date" class="form-control" placeholder="Date de Parution" formControlName="dateParution" id="{'nom' + bookIndex}"/>
        </div>
      </div>

      <!-- Lu input auteur-->
      <div class="form-outline mb-4">
        <div class="form-check">
          <label class="form-check-label" attr.for="{'lu' + bookIndex}">Lu</label>
          <input class="form-check-input" type="checkbox" id="{'lu' + bookIndex}" formControlName="lu"/>
        </div>
      </div>

      <!-- Prenom input auteur-->
      <div class="form-outline mb-4">
        <div>
          <input type="text" class="form-control" placeholder="Prenom auteur" formControlName="prenomAuteur" id="{'prenomAuteur' + bookIndex}"/>
        </div>
      </div>

      <!-- Nom input auteur-->
      <div class="form-outline mb-4">
        <div>
          <input type="text" class="form-control" placeholder="Nom auteur" formControlName="nomAuteur" id="{'nomAuteur' + bookIndex}"/>
        </div>
      </div>
    </div>
    <button class="btn btn-danger" *ngIf="bookIndex > 0" (click)="deleteFormBook(bookIndex)">Delete form book</button>
  </div>
  <button type="submit" class="btn btn-success">Add book</button>
</form>
<button class="btn btn-success" (click)="addFormBook()">Add another form book</button>
<button class="btn btn-danger float-end" routerLink="/libraire">Cancel</button>