<section class="bg-image" style="background-image: url('../../../../assets/images/background-login-signup.jpeg'); height: 100vh; background-size: cover; background-position: center; position: relative;">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="margin-top: -100px; background: hsla(0, 0%, 100%); backdrop-filter: blur(30px);">
      <div class="card-body py-5 px-md-5 text-center">

        <h2 class="fw-bold mb-5">login now</h2>

        <form [formGroup]="loginForm" (submit)="login()">
          <div class="mb-4">
            <input type="text" class="form-control" placeholder="Login" formControlName="login" id="login" />
            <div class="text-danger" *ngIf="!loginForm.get('login')?.valid && loginForm.get('login')?.['dirty']">login required</div>
          </div>

          <div class="mb-4">
            <input type="password" class="form-control" placeholder="Password" formControlName="password" id="password" />
            <div class="text-danger" *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.['dirty']">password required</div>
          </div>

          <div class="text-danger" *ngIf="loginForm.errors?.['connection']">login or password incorrect</div>
          <div class="text-danger" *ngIf="loginForm.errors?.['connectionServeur']">login failed</div>

          <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="!loginForm.valid">Login</button>

          <div class="text-center">Don't have an account? <a routerLink="/createAccount">Register here</a></div>
        </form>
      </div>
    </div>
  </div>
</section>
