<section class="bg-image" style="background-image: url('../../../../assets/images/background-login-signup.jpeg'); height: 100vh; background-size: cover; background-position: center; position: relative;">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="margin-top: -100px; background: hsla(0, 0%, 100%); backdrop-filter: blur(30px); margin-top: 20px;"> <!-- Ajout de margin-top: 20px; -->
      <div class="card-body py-5 px-md-5 text-center">
        <h2 class="fw-bold mb-5">Register</h2>

        <form [formGroup]="createAccountForm" (submit)="register()">
          <div class="mb-4">
            <input type="text" class="form-control" placeholder="Login" formControlName="login" id="login" />
            <div class="text-danger" *ngIf="!createAccountForm.get('login')?.valid && createAccountForm.get('login')?.['dirty']">Login required</div>
          </div>

          <div class="mb-4 row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Prenom" formControlName="prenom" id="prenom" />
              <div class="text-danger" *ngIf="!createAccountForm.get('prenom')?.valid && createAccountForm.get('prenom')?.['dirty']">Prenom required</div>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Nom" formControlName="nom" id="nom" />
              <div class="text-danger" *ngIf="!createAccountForm.get('nom')?.valid && createAccountForm.get('nom')?.['dirty']">Nom required</div>
            </div>
          </div>

          <div formGroupName="emailGroup" class="mb-4">
            <div class="mb-4">
              <input type="email" class="form-control" placeholder="Email" formControlName="email" id="email" />
              <div class="text-danger" *ngIf="createAccountForm.get('emailGroup.email')?.errors?.['email']">Email needs to be conform</div>
              <div class="text-danger" *ngIf="createAccountForm.get('emailGroup.email')?.errors?.['required'] && createAccountForm.get('emailGroup.email')?.['dirty']">Email required</div>
            </div>

            <div class="mb-4">
              <input type="email" class="form-control" placeholder="Email Confirm" formControlName="emailConfirm" id="emailConfirm" />
              <div class="text-danger" *ngIf="createAccountForm.get('emailGroup.emailConfirm')?.errors?.['required'] && createAccountForm.get('emailGroup.emailConfirm')?.['dirty']">Email required</div>
              <div class="text-danger" *ngIf="createAccountForm.get('emailGroup')?.errors?.['emailGroupNotEqual']">Emails need to be equals</div>
            </div>
          </div>

          <div class="mb-4">
            <input type="password" class="form-control" placeholder="Password" formControlName="password" id="password" />
            <div class="text-danger" *ngIf="!createAccountForm.get('password')?.valid && createAccountForm.get('password')?.['dirty']">Password required</div>
          </div>

          <div class="text-danger" *ngIf="createAccountForm.errors?.['loginEmailUse']">Login or email already used</div>
          <div class="text-danger" *ngIf="createAccountForm.errors?.['connectionServeur']">Register failed</div>

          <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="!createAccountForm.valid || !createAccountForm.get('emailGroup')?.valid">
            CREATE
          </button>

          <div class="text-center">
            <p>Already a member? <a routerLink="/login">Login</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
